<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="https://dl.dropboxusercontent.com/content_link/WkX8Yu6J6kwlY7Y7xf8kGW6aF2NhgPGGx4nXECjoA0adxFIVK7X9HZ7bNzRfZRXv/file">
      <div class="caption center-align transparent">
        <h1 class="container light-blue lighten-2">Welcome to my coffee now!</h1>
        <h5 class="container black"> <%= link_to "Sign Up!", new_user_path %></h5>
      </div>
      <li>
        <img src='https://dl.dropboxusercontent.com/content_link/TQFWfZIUjdSNt0pRPHlCMVCIuQVW3PYbh0b3t2Wm4U7qAcDx2F0cjxZ7l7aMeGc1/file'> <!-- random image -->
        <div class="caption center-align transparent">
          <h1 class="container light-blue lighten-2">Skip the Line!</h3>
          <h5 class="container black"> <%=link_to "Check out our menu!",items_path %></h5>
        </div>
      </li>
      <li>
        <img src="https://dl.dropboxusercontent.com/content_link/mLbtoZWQqe2sI8HZKML89GvWlUW9NDbxAcmoPypFhg9SC7HndZP6qdDIgdDbwyuq/file  "> <!-- random image -->
        <div class="caption center-align transparent">
          <h3 class="container light-blue">Life is better with Coffee</h3>
          <h5 class="container black"> <%=link_to "Click here to log in", login_path  %></h5>
        </div>
      </li>
    </ul>
  </div>
